{{> metaHeader title='Title page' description="description"}} {{> header }}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">01 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Aspiring Software Engineer</h3>
                  <p>Software engineering has been my passion since childhood times. Since 2000s when 'internet cafes' became mainstream, gaming started to evolve, my interest towards technology and software development accumulated over the time until today.</p>
                  <h3>Tech stack: </h3>
                  <p><strong>Frontend:</strong> HTML, CSS, JavaScript, AJAX, React, Redux.</p>
                  <p><strong>Backend:</strong>  Node.js, REST APIs, Express.js, Sequelize ORM, PostgreSQL.</p>
                  <p><strong>Project Workflow/Management:</strong> Git/Github, Jira.</p>
                  <p><strong>Testing:</strong> Jest, Chai, Mocha, Jasmine.</p>
                  <p><strong>Bonus competencies:</strong> Heroku, TypeScript, Phaser.io, IBM Watson Assistant API.</p>
                  <h3>Interests</h3>
                  <p>Soccer, Gaming, Hiking, Travelling.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


{{> footer }} {{> metaFooter}}
