{{> metaHeader title='Title page' description="description"}} {{> header }}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Projects</h1>
          <p>Following projects had been completed both in group and individual basis. The projects such as 'LamboShop' and 'Tempo of TypeScript' were group projects, while 'Chatbot' was a Stackathon individual work.</p>
        </div>
      </div>
      <div class="col-md-12">
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">
                      <a href="./work" title="" class="black-image-project-hover">
                        <img src="./assets/images/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>E-commerce</h4>
                        <h3>LamboShop</h3>
                        <p>E-commerce store where visitors can browse through limited-edition Lamborghini vehicles and make a purchase via guest checkout or by signing up with a new account.</p>
                        <a href="https://github.com/FullstackAcademy/2007-four-horsemen" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./assets/images/work02-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>Machine Learning</h4>
                        <h3>Chatbot</h3>
                        <p>Simple customer-service chatbot designed to assist clients with their cell phone carrier needs such as purchasing prepaid plan, request sim unlock for their device, and online bill payment.</p>
                        <a href="https://github.com/LZ26/chatbot" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./assets/images/work03-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>Web Game</h4>
                        <h3>Tempo of TypeScript</h3>
                        <p>2D Dungeon crawl and survival-based web game in which a player should destroy all the enemies and survive the map. The movements of a player and aggression level of enemies depends on the beats per minute of songs selected before launching the game.</p>
                        <a href="https://github.com/Tempo-Of-Typescript/Tempo-Of-Typescript" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{{> footer }} {{> metaFooter}}
